body {
  font-family: Arimo, 'sans-serif';
  font-size: 14px;
  background: rgb(211,211,211);
  
}

.link {
    padding: 8px 10px;
    border-radius: 3px;
}

.link:hover {
    background: rgba(0, 0, 0, .1);
}

.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 2px;
  margin-top: 20px;
  background: rgb(255, 255, 255)
}
.filterPanelStyle {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 2px;
  margin-top: 20px;
  background: rgb(255, 255, 255);
  
}
.filterButton {
  width: 30%;
    margin-right: 4%;
    margin-left: 10%;
    margin-bottom: 4%;
    border-radius: 5px;   
    background-color: rgb(144,238,144);
    border-color:rgb(144,238,144)
}
.spaceImage {
  background-color: rgb(211, 211, 211);
  margin-left: 8%;
  margin-top: 6%;
  width: 82%;
  height: 183px;
}
.flightText {
  margin-top: 2%;
  margin-left: 7%;
  color:#483D8B;
  margin-bottom:3%;
}
.flightTextBold {
  margin-top: 2%;
  margin-left: 7%;
  font-weight: normal;
  margin-bottom:3%;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
}
.heading {
  margin-bottom: 2%;
}
.filterHeading {
  margin-top: 0;
  margin-left: 29%;
}
.filterLaunchHeading {
  margin-top: 0;
  margin-left: 22%;
}
.row {
  display: flex;
}
.columnLeft {
 
  flex: 20%;
  
}
.rightDisplay {
  background-color: white;
  margin: 2%;
  flex-basis: 19.333333%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 14%;
  margin-left: 44%;
}
@media only screen and (min-width: 1025px) and (max-width: 1280px){
  .row {
    display: flex;
  }
  .columnLeft {
   
    flex: 20%;
    
  }
  .columnRight {
    flex:80%
  }
  .rightDisplay {
    background-color: white;
    margin: 2%;
    flex-basis: 19.333333%;
  }
  .spaceImage {
    background-color: rgb(211, 211, 211);
    margin-left: 8%;
    margin-top: 6%;
    width: 82%;
    height: 183px;
  }
  .displayPanel{
    display:flex;
    flex-wrap:wrap;
    max-height:85vh;
    overflow-y:auto
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .row {
    flex-direction: column
  }
  .columnLeft {
 
    width: 62%;
    margin-left: 18%;
    
  }
  .columnRight {
    width: 64%;
    margin-left: 17%;
  }
  .displayPanel {
    display: block !important;
  }
  .spaceImage {
    width: 85%;
    height: 250px;
  }
   .title {
    font-size: 2em !important
  }
  .heading {
    font-size: 1em !important
  }
  .filterHeading {
    font-size: 1em !important
  }
  .filterLaunchHeading {
    font-size: 1em !important
  }
  .filterText {
    font-size: 1em !important;
    margin: 4%
  }
  .flightTextBold {
    font-size: 1em !important
  }
  .flightText {
    font-size: 1em !important
  }
 
 
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .row {
    flex-direction: column
  }
  .columnLeft {
 
    width: 62%;
    margin-left: 18%;
    
  }
  .columnRight {
    width: 64%;
    margin-left: 17%;
  }
  .displayPanel {
    display: block !important;
  }
  .spaceImage {
    width: 85%;
    height: 250px;
  }
   .title {
    font-size: 2em !important
  }
  .heading {
    font-size: 1em !important
  }
  .filterHeading {
    font-size: 1em !important
  }
  .filterLaunchHeading {
    font-size: 1em !important
  }
  .filterText {
    font-size: 1em !important;
    margin: 4%
  }
  .flightTextBold {
    font-size: 1em !important
  }
  .flightText {
    font-size: 1em !important
  }
 
 
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* .row {
    flex-direction: row
  } */
  .columnLeft {
    flex: 30%;    
  }
  .columnRight {
    flex: 70% !important;
  }
  .rightDisplay {
    flex-basis: 35.33%
  }
  /* .displayPanel {
    display: block !important;
  } */
  .spaceImage {
    width: 85%;
    height: 250px;
  }
   .title {
    font-size: 2em !important
  }
  .heading {
    font-size: 1em !important
  }
  .filterHeading {
    font-size: 1em !important
  }
  .filterLaunchHeading {
    font-size: 1em !important
  }
  .filterText {
    font-size: 1em !important;
    margin: 4%
  }
  .flightTextBold {
    font-size: 1em !important
  }
  .flightText {
    font-size: 1em !important
  }
 
 
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* .row {
    flex-direction: row
  } */
  .columnLeft {
    flex: 30%;  
    margin-left: 5%  
  }
  .columnRight {
    flex: 70% !important;
  }
  .rightDisplay {
    flex-basis: 43.33%
  }
  /* .displayPanel {
    display: block !important;
  } */
  .spaceImage {
    width: 85%;
    height: 250px;
  }
   .title {
    font-size: 2em !important
  }
  .heading {
    font-size: 1em !important
  }
  .filterHeading {
    font-size: 1em !important
  }
  .filterLaunchHeading {
    font-size: 1em !important
  }
  .filterText {
    font-size: 1em !important;
    margin: 4%
  }
  .flightTextBold {
    font-size: 1em !important
  }
  .flightText {
    font-size: 1em !important
  }
 
 
}

.title {
  font-size: 2em;
  margin-bottom: 0
}
.heading {
  font-size: 1.5em
}
.filterText {
  font-size: 1em;
  margin: 4%
}
.flightTextBold {
  font-size: 1em
}
.flightText {
  font-size: 0.5m
}

.columnRight {
  flex:80%
}
.error {
  margin-left: 34%;
  margin-top: 20%;
}
.selectedFilterButton {
  width: 30%;
  margin-right: 4%;
  margin-left: 10%;
  margin-bottom: 4%;
  border-radius: 5px;   
  background-color: rgb(0,128,0);
  border-color:rgb(0,128,0)
}
.displayPanel{
  display:flex;
  flex-wrap:wrap;
  max-height:85vh;
  overflow-y:auto
}
